In [1]:
print("Hello Anaconda")

Hello Anaconda

In [4]:
import mysql.connector

In [23]:
mydb = mysql.connector.connect(
    host="localhost",
    user="chase",
    passwd="Mytasteinmusicis7*",
    database="mydatabase"
)

In [25]:
mycursor = mydb.cursor()

In [26]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255),address VARCHAR(255))")

In [27]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('customers',)